<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup Google Analytics -->
<!--
{% include head-custom-google-analytics.html %}
-->

<!-- You can set your favicon here -->
<!-- link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" -->

<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png?v=1.0.0">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png?v=1.0.0">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png?v=1.0.0">
<link rel="manifest" href="/assets/favicons/site.webmanifest?v=1.0.0">
<link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg?v=1.0.0" color="#5bbad5">
<link rel="shortcut icon" href="/assets/favicons/favicon.ico?v=1.0.0">
<meta name="apple-mobile-web-app-title" content="Bible Linker">
<meta name="application-name" content="Bible Linker">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="/assets/favicons/browserconfig.xml?v=1.0.0">
<meta name="theme-color" content="#ffffff">

<!-- end custom head snippets -->
